<footer class="flex-wrap justify-center text-center text-light">
      <div>
          Support through
          <a
            href="https://www.patreon.com/rsclarke"
            title="rsclarke on Patreon"
            rel="noopener noreferrer"
            class="text-light"
          >
            {% fontawesomeIcon 'fab', 'patreon' %}
          </a> for new content.
      </div>
      <div>
          Made with
          {% fontawesomeIcon 'fas', 'heart', 'text-red' %} under
          <a
            href="https://creativecommons.org/licenses/by/4.0/"
            rel="noopener noreferrer"
            class="text-light"
            title="Creative Commons - Attribution 4.0 International (CC BY 4.0)"
          >{% fontawesomeIcon 'fab', 'creative-commons' %}{% fontawesomeIcon 'fab', 'creative-commons-by', 'ml-2' %}</a>.
      </div>
      <div class="tracking-widest">
        <a href="/hashtags" class="text-light text-sm">
          {% fontawesomeIcon 'fas', 'hashtag' %}
        </a> &nbsp;
        <a href="/feed.atom" title="rsclarke.dev atom feed" class="text-light text-sm">
          {% fontawesomeIcon 'fas', 'rss' %}
        </a> &nbsp;
        <a href="/sitemap.xml" title="Sitemap" class="text-light text-sm">
          {% fontawesomeIcon 'fas', 'sitemap' %}
        </a>
      </div>
  </footer>