{{ define "main" }}
<h2 class="mt-0">Articles</h2>
<ul>
    {{ range (where .Site.RegularPages "Type" "articles") }}
    {{ .Render "li" }}
    {{end}}
</ul>
<h2>Experiments</h2>
<ul>
    {{ range where .Site.Pages "Section" "experiments" }}
        {{ if and (ne .RelPermalink "/experiments/") (eq .Kind "section") }}
            <li class="p-0 m-0 mb-4">
                <div>
                    <a href="{{ .RelPermalink }}" class="font-medium">{{ .Title }}</a>
                    {{ with .Description }}
                        <div class="text-sm text-zinc-600 dark:text-zinc-400">{{ . }}</div>
                    {{ end }}
                    <div class="text-xs text-zinc-500 dark:text-zinc-400">
                        {{ len .Pages }} posts · Started {{ .Date.Format "2 Jan 2006" }}
                    </div>
                </div>
            </li>
        {{ end }}
    {{ end }}
</ul>
<h2>Projects</h2>
<ul>
    <li>
        <a href="https://registry.terraform.io/namespaces/rsclarke">Terraform Modules</a>
    </li>
</ul>
{{ end }}