{{ define "main" }}
<h2 class="mt-0">Articles</h2>
<ul>
    {{ range (where .Site.RegularPages "Type" "articles") }}
    {{ .Render "li" }}
    {{end}}
</ul>
<h2>Experiments</h2>
{{ $experiments := where .Site.Pages "Section" "experiments" }}
{{ $filteredExperiments := slice }}
{{ range $experiments }}
    {{ if and (ne .RelPermalink "/experiments/") (eq .Kind "section") }}
        {{ $filteredExperiments = $filteredExperiments | append . }}
    {{ end }}
{{ end }}
{{ if $filteredExperiments }}
<ul>
    {{ range $filteredExperiments }}
        {{ .Render "li" }}
    {{ end }}
</ul>
{{ else }}
<p>No experiments yet</p>
{{ end }}
<h2>Projects</h2>
<ul>
    <li>
        <a href="https://registry.terraform.io/namespaces/rsclarke">Terraform Modules</a>
    </li>
</ul>
{{ end }}